/* Animation de l'apparition de la page */

@keyframes apparaitAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Animation pour le slide en CSS */

@keyframes slideAnimation {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(0%);
    }
    12% {
        transform: translateX(-20%);
    }
    22% {
        transform: translateX(-20%);
    }
    24% {
        transform: translateX(-40%);
    }
    34% {
        transform: translateX(-40%);
    }
    36% {
        transform: translateX(-60%);
    }
    46% {
        transform: translateX(-60%);
    }
    48% {
        transform: translateX(-80%);
    }
    58% {
        transform: translateX(-80%);
    }
    60% {
        transform: translateX(-60%);
    }
    70% {
        transform: translateX(-60%);
    }
    72% {
        transform: translateX(-40%);
    }
    82% {
        transform: translateX(-40%);
    }
    84% {
        transform: translateX(-20%);
    }
    94% {
        transform: translateX(-20%);
    }
    96% {
        transform: translateX(-0%);
    }
    100% {
        transform: translateX(-0%);
    }
}